<！DOCTYPE html >
< html  lang =“ {{..Site.LanguageCode}} ” 前缀 =“ og：http: //ogp.me/ns# ” >
{{部分“ head.html”。}}

< 身体>
  < article  class =“ posts ” >
    < div  class =“ row ” >
      < div  class =“ col-xs-12 ” >
        {{部分“ header.html”。}}
        < div  id =“ posts-list ” >
          {{范围（其中site.RegularPages“类型”“在” site.Params.mainSections中。GroupByDate“ 2006”-}}
          < 部分>
            < h1  class =“ site-date-catalog ” > {{.Key}} </ h1 >

            {{range .Pages}}
            < div  class =“ row posts-line ” >
              < div  class =“ posts-date col-xs-2 ” >
                < time  datetime =“ {{.Date.Format ” 2006-01-02  15:04:05  MST “}}” > {{.Date.Format“ Jan 02”}}} </ time >
              </ div >
              < div  class =“ posts-title col-xs-10 ” >
                < div  class =“ row ” >
                  < div  class =“ col-xs-9 col-sm-10 ” >
                    < 一个 HREF = “ {{.RelPermalink}} ” > {{.title伪}} </ 一>
                  </ div >
                  < div  class =“ col-xs-3 col-sm-2 posts-categories ” >
                    {{range .Params.categories}}
                    < div  class =“ posts-category ” >
                      < 一个 HREF = “ /类别/ {{降低。}} / ” > < 强> {{。}} </ 强> </ 一>
                    </ div >
                    {{ 结束 }}
                  </ div >
                </ div >
              </ div >
            </ div >
            {{ 结束 }}
          </ 部分>
          {{ 结束 }}
        </ div >

        {{部分为“ footer.html”。}}
      </ div >
    </ div >
  </ article >

  {{部分“ scripts.html”。}}
</ body >

</ html >
